@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: red;
}

p {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	color: #444;
}

.clearfix {
	overflow: auto;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.topBar {
	width: 1000px;
	background: maroon;
}

.topBarLinks {
	float: left;
}

.topBarLinks ul {
	list-style: none;
	margin: 15px;
}

.topBarLinks ul li {
	display: inline-block;
	padding: 0px 10px;
	border-right: 1px solid white;
}

.topBarLinks ul li:last-child {
	border: none;
}

.topBarLinks ul li a {
	color: white;
}

.siteSearch {
	float: right;
	margin: 15px;
	padding: 3px 5px 3px 10px;
	background: white;
	border-radius: 10px;
}

.siteSearch input {
	border: none;
	float: left;
}

.siteSearch button {
	background: url(../img/icons/search.png);
	width: 18px;
	height: 18px;
	border: none;
	float: right;
}

header .logo {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

header .logo h1 {
	font-variant: small-caps;
	font-weight: normal;
	font-size: 48px;
	letter-spacing: -1px;
}

header .socialMedia {
	float: right;
	margin-top: 50px;
	margin-right: 20px;
}

header .socialMedia ul {
	list-style: none;
}

header .socialMedia ul li {
	display: inline;
}

header .socialMedia a {
	background: #444;
	color: #fff;
	display: inline-block;
	padding: 6px;
	margin-left: 5px;
	border-radius: 20px;
}

header .socialMedia ul li a:hover {
	background: orange;
}

nav {
	background: black;
	background: linear-gradient(#0d0d0d, #404040, #0d0d0d);
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: white;
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 40px 10px 40px;
}

nav ul li a:hover {
	color: red;
}

.intro {
	width: 979px;
	margin: 15px;
	margin-bottom: 0px;
}

.introImage {
	width: 400px;
	float: left;
}

.introImage img {
	float: left;
}

.introText {
	width: 570px;
	float: right;
}

.introText h1 {
	margin-top: 100px;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: normal;
}

.introText p {
	font-size: 18px;
}

.introText a {
	float: right;
	text-transform: uppercase;
}

.homeContect {
	width: 1000px;
	background: #eee;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.homeCol {
	width: 313.33px;
	margin-left: 15px;
	float: left;
}

.homeCol img {
	width: 313.33px;
}

.homeCol h2 {
	margin: 30px 0px 30px 0px;
	font-size: 30px;
	font-weight: normal;
}

.homeCol a {
	float: right;
}

.services {
	margin-bottom: 20px;
}

.services img {
	width: 64px;
	float: left;
	margin-right: 15px;
}

.services p {
	margin-top: 0px;
}

.quote {
	float: left;
}

.quote i {
	float: left;
}

.quote h3 {
	margin-top: 20px;
	margin-left: 15px;
	float: left;
}

.quote p {
	clear: both;
}

footer {
	width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}

.footerCol {
	width: 231.25px;
	float: left;
	margin-left: 15px;
	border-top: 1px solid black;
}

.footerCol h4 {
	text-transform: uppercase;
	margin-top: 15px;
	color: #444;
	font-size: 20px;
	margin-bottom: 15px;
}

.tweets p {
	font-size: 16px;
}

ul.quickLinks {
	list-style: none;
	margin-top: 10px;
}

ul.quickLinks li a::before {
	content: "» ";
}

ul.quickLinks li a {
	margin-bottom: 5px;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #aaa;
	color: #666;
}

ul.quickLinks li a:hover {
	color: red;
}

.blogPost h5 {
	font-size: 20px;
	clear: both;
}

.blogPost p {
	font-size: 16px;
}

div.blogPost a.readMore {
	float: right;
}

form.contact input, form.contact textarea{
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	width: 221.25px;
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 16px;
}

form.contact textarea {
	height: 130px;
}

form.contact button {
	background: #eee;
	color: red;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: inherit;
	text-transform: uppercase;
}

.copyrights {
	width: 1000px;
	background: #eee;
	float: left;
}

.left {
	float: left;
	margin: 20px;
}

.right {
	float: right;
	margin: 20px;
}